<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="email" required #emailInput="ngModel" />
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="alert alert-danger">
          <div *ngIf="emailInput.errors.required">
            Email is required
          </div>
          <div *ngIf="emailInput.errors.email">
            Email is invalid
          </div>
        </div>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" required #passwordInput="ngModel" />
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger">
          <div *ngIf="passwordInput.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-block">Login</button>
      <button type="button" class="btn btn-block btn-primary" [routerLink]="['/register']">
        Register
      </button>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  