<div class="filter-container">
    <h3>Filter Tasks</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" name="selectedStatus" [(ngModel)]="selectedStatus">
          <option value="">All</option>
          <option *ngFor="let status of taskStatuses" [value]="status">{{status}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="priority">Priority:</label>
        <select class="form-control" name="selectedPriority" [(ngModel)]="selectedPriority">
          <option value="">All</option>
          <option *ngFor="let priority of taskPriorities" [value]="priority">{{priority}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="deadline">Deadline:</label>
        <input type="date" name="selectedDeadline" [(ngModel)]="selectedDeadline">
      </div>
      <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
  </div>
  